@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(45deg, blue, purple);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	position: relative;
}

h1 {
	letter-spacing: 3px;
	color: rgb(0, 217, 255);
	text-decoration: underline;
}
.searchDiv {
	width: 20rem;
	display: flex;
	justify-content: center;
	margin: 1rem auto 2rem;
}
